on: push
name: Run tests
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cargo install cargo-all-features
      - run: cargo build-all-features --verbose
      - run: cargo test-all-features --verbose
